html, body {
    height: 100%;
    color: #000;
    margin: 0;
    background-color: #D0E0FF;
    font-family: Helvetica, Arial, sans-serif;
}

/* START header/menu bar */

#header {
    clear: both;
    background-color: #88ABC2;
}

#header h1 {
    margin-left: 0.2em;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
}

#header h4 {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0.5em;
}

/* #menu { */
#header ul {
    background-color: #c0c0ff;
    margin-top: 0;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 1em;
}

#header ul li {
    font-size: 0.9em;
    display: inline;
    padding-right: 1%;
}

#header ul li {
    visibility: hidden;
}

#header ul li:hover {
    color: #448;
    visibility: visible;
}

#header ul li a {
    text-decoration: none;
    color: #000;
    visibility: visible;
}

#header ul li a:hover:after {
    content: "/";
}

#header ul li a:hover {
    color: #448;
}

/* END header/menu bar */

/* BEGIN side pane */
#side {
    width: 17.5%;
    float: left;
    min-height: 100%;
    font-size: 0.9em;
    background-color: #D0E0FF;
}

#side .sidebar {
    padding-left: 5%;
}

#side li {
    list-style-type: none;
}

#side a {
    text-decoration: none;
    color: #444;
}

#side ul li {
    visibility: hidden;
}

#side ul li:hover {
    visibility: visible;
}

#side ul li a {
    text-decoration: none;
    color: #222;
    visibility: visible;
}

#side ul li a:hover:after {
    content: "/";
}

#side ul li a:hover {
    color: #44f;
}

#side .selected {
    visibility: visible;
}

/* END side pane */

/* BEGIN content */
#content {
    min-height: 100%;
    padding: 1%;
    font-size: 0.9em;
    background-color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2.5%;
}

.withside {
    width: 79%;
    float: right;
}

#content h2 {
    clear: right;
    margin-top: 0;
}

#content h3 {
    clear: right;
    margin-left: 1%;
    line-height: 0;
    margin-bottom: 0;
    margin-top: 2em;
}

#content p {
    margin-left: 2%;
}
/* END content */

/* BEGIN footer */
#footer {
    clear: both;
    background-color: #88ABC2;
}

#footer p {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
/* END footer */

blockquote {
    color: #789922;
}
