<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>    
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <title>Gentoomen</title>
        <link href="/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
            <a name="top"></a>
            <h1>Gentoomen</h1>
            <h4>The #/g/sicp website</h4>
            <ul id="menu">
                <li><a href="#top">Home</a><span class="slash">/</span></li>
            </ul>
        </div>
        <div id="content">
%s
        </div>
        <div id="footer">
            <p>Copyright &copy; 2011 Gentoomen.org</p>
            <a name="bottom"></a>
        </div>
    </body>
</html>
